<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../src/components/head'); %>
        <link rel="stylesheet" href="../stylesheets/about.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/footer.css" />

        <title>
            About US
        </title>
</head>

<body>
    <%- include('../src/components/nav')%>

        <div class="container">
            <section class="page" style="margin-top: 30px;">
                <div class="row">
                    <div class="col-lg-4">
                        <h2 class="title-color" >Personal care for your healthy living</h2>
                    </div>
                    <div class="col-lg-8">
                        <p class="about-text">Welcome to PhysioLab, your trusted destination for comprehensive
                            physiotherapy services aimed at restoring mobility, relieving pain, and enhancing your
                            overall well-being. At PhysioLab, we are committed to providing personalized care and
                            innovative treatment solutions to help you achieve your health and fitness goals.</p>
                    </div>
                </div>
            </section>

            <section class="page">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="about-block-item mb-5 mb-lg-0">
                            <img src="./../images/about-1.jpg" alt="" class="img-fluid w-100">
                            <h4 class="mt-3 title-color">Healthcare for Kids</h4>
                            <p class="about-text">Voluptate aperiam esse possimus maxime repellendus, nihil quod
                                accusantium .</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="about-block-item mb-5 mb-lg-0">
                            <img src="./../images/about-2.jpg" alt="" class="img-fluid w-100">
                            <h4 class="mt-3 title-color">Medical Counseling</h4>
                            <p class="about-text">Voluptate aperiam esse possimus maxime repellendus, nihil quod
                                accusantium .</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="about-block-item mb-5 mb-lg-0">
                            <img src="./../images/about-3.jpg" alt="" class="img-fluid w-100">
                            <h4 class="mt-3 title-color">Modern Equipments</h4>
                            <p class="about-text">Voluptate aperiam esse possimus maxime repellendus, nihil quod
                                accusantium .</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="about-block-item">
                            <img src="./../images/about-4.jpg" alt="" class="img-fluid w-100">
                            <h4 class="mt-3 title-color">Qualified Doctors</h4>
                            <p class="about-text">Voluptate aperiam esse possimus maxime repellendus, nihil quod
                                accusantium .</p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="page">
                <div class="row align-items-center">
                    <div class="col-lg-4">
                        <h2 class="title-color">Our Doctors achievements </h2>
                        <div class="divider-about mt-4 mb-5 mb-lg-0"></div>
                    </div>
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="award-img">
                                    <img src="./../images/3.png" alt="" class="img-fluid">
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="award-img">
                                    <img src="./../images/4.png" alt="" class="img-fluid">
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="award-img">
                                    <img src="./../images/1.png" alt="" class="img-fluid">
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="award-img">
                                    <img src="./../images/2.png" alt="" class="img-fluid">
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="award-img">
                                    <img src="./../images/5.png" alt="" class="img-fluid">
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="award-img">
                                    <img src="./../images/6.png" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="page">
                <div class="row ">
                    <div class="col-lg-5">
                        <img src="./../images/img-3_1.jpg" class="img-fluid rounded-top" alt="" />
                    </div>
                    <div class="col-lg-7">
                        <div class="section-title ms-3">
                            <h2 class="title-color">What they say about us</h2>
                            <div class="divider-about my-4"></div>
                        </div>

                        <div id="carouselExampleIndicators" class="carousel slide ms-3" data-bs-ride="carousel">
                            <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                                    class="active carl-btn" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                                    class="carl-btn" aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                                    class="carl-btn" aria-label="Slide 3"></button>
                            </div>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="client-info">
                                        <h4 class="title-color">Amazing service!</h4>
                                    </div>
                                    <p class="about-text carl-text">
                                        They provide great service facilty consectetur adipisicing elit. Itaque rem,
                                        praesentium, iure, ipsum magnam deleniti a vel eos adipisci suscipit fugit
                                        placeat. Quibusdam laboriosam eveniet nostrum nemo commodi numquam quod.
                                    </p>
                                </div>
                                <div class="carousel-item ">
                                    <div class="client-info">
                                        <h4 class="title-color">Expert doctors!</h4>
                                    </div>
                                    <p class="about-text carl-text">
                                        They provide great service facilty consectetur adipisicing elit. Itaque rem,
                                        praesentium, iure, ipsum magnam deleniti a vel eos adipisci suscipit fugit
                                        placeat. Quibusdam laboriosam eveniet nostrum nemo commodi numquam quod.
                                    </p>
                                </div>
                                <div class="carousel-item">
                                    <div class="client-info">
                                        <h4 class="title-color">Good Support!</h4>
                                    </div>
                                    <p class="about-text carl-text">
                                        They provide great service facilty consectetur adipisicing elit. Itaque rem,
                                        praesentium, iure, ipsum magnam deleniti a vel eos adipisci suscipit fugit
                                        placeat. Quibusdam laboriosam eveniet nostrum nemo commodi numquam quod.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </section>

        </div>
        <%- include('./../src/components/footer')%>

</body>

</html>