<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('../src/components/head'); %>
    <link rel="stylesheet" href="/stylesheets/loginvalidation.css">
</head>
<body>
    
    <div class="container d-flex justify-content-center align-items-center">
        
        <div class="alert alert-danger alert-box">
            <i class="fa-solid fa-circle-exclamation icon mb-2"></i>
            <h1 class="mb-2">Please Log In First !</h1>

            <a href="/login" class="btn btn-danger text-decoration-none link">login</a>
        </div>
        
        
    </div>
</body>
</html>