<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../src/components/head'); %>
        <link rel="stylesheet" href="../stylesheets/service.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/footer.css" />

        <title>
            Service
        </title>

</head>

<body>
    <%- include('../src/components/nav')%>
        <div class="service-page">
            <div class="container">
                <div class="row">

                    <div class="col-lg-4">
                        <h4 class="text-capitalize mb-3">Our Services</h4>
                        <div class="service-divider mb-4"></div>
                        <p class="pe-4">At PhysioLab, we offer a wide range of physiotherapy services to address a variety of
                            musculoskeletal conditions and injuries.</p>
                    </div>

                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-lg-6">
                                <i class="fa-solid fa-stethoscope icon"></i>
                                <h5 class="service-header">24 hour Support</h5>
                                <p class="service-desc">Here at PhysioLab, we understand that pain and discomfort don't always adhere to
                                    regular business hours. That's why we offer 24-hour support, ensuring that you have
                                    access to assistance whenever you need it most</p>
                            </div>
                            <div class="col-lg-6">
                                <i class="fa-solid fa-user-doctor icon"></i>
                                <h5 class="service-header">Medical Counseling</h5>
                                <p class="service-desc">our medical counseling services provide personalized guidance and support tailored to
                                    your unique needs, helping you navigate your healthcare journey with confidence and
                                    clarity</p>
                            </div>
                            <div class="col-lg-6">
                                <i class="fa-solid fa-truck-medical icon"></i>
                                <h5 class="service-header">Emergency Services</h5>
                                <p class=" service-desc">we understand that pain and discomfort don't always adhere to regular business hours.
                                    That's why we offer 24-hour support, ensuring that you have access to assistance
                                    whenever you need it most</p>
                            </div>
                            <div class="col-lg-6">
                                <i class="fa-solid fa-suitcase-medical icon"></i>
                                <h5 class="service-header">Premium Healthcare</h5>
                                <p class=" service-desc">we're committed to delivering premium healthcare that exceeds expectations.
                                    Experience personalized treatment and exceptional service tailored to your unique
                                    needs</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <%- include('./../src/components/footer')%>

</body>

</html>