<div class="myAppointments">
    <div class="container mt-1">
        <h2 class="mb-4 text-center ">Doctor - Appointments</h2>
        <div class="d-flex justify-content-between px-2">
            <div>
                <h3>Dr. <span id="name">
                        <%= user.name%>
                    </span></h3>

                <p>Specialty: <span id="specility">
                        <%= user.spciality%>
                    </span> Physiotherapy</p>
                <p>Contact: <span id="number">
                        <%= user.contact%>
                    </span></p>
            </div>
            <form action="/logout" method="GET">
                <button type="submit" class="btn btn-danger">Logout</button>
            </form>
        </div>

        <!-- Doctor's Appointments Table -->
        <div class="table-responsive booked-appointments">
            <table class="table table-bordered  text-center" id="appointment_table">
                <thead>
                    <th>Sr No.</th>
                    <th scope="col">Patient Name</th>
                    <th scope="col">Appointment Date</th>
                    <th scope="col">Appointment Time</th>
                    <th scope="col">Contact Number</th>
                    <th scope="col">Status</th>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>