<footer class="footer container-fluid gray-bg">
    <div class="container-lg">
        <div class="row">
            <div class="col-lg-5 mr-auto col-sm-6">
                <div class="widget mb-5 mb-lg-0">
                    <div class="logo mb-4">
                        <img src="./../../images/favicon.png" alt="" class="img-fluid">
                        <span class="fs-4"> Life Care Physiolab</span>
                    </div>
                    <p>Empowering Health through Careful Connections: Your Trusted Partner for Doctor-Patient
                        Appointments and Management at Life Care Physiolab.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="widget mb-5 mb-lg-0">
                    <h4 class="text-capitalize footer-header mb-3">Quick Links</h4>
                    <div class="divider mb-4"></div>
                    <ul class="list-unstyled footer-menu lh-35 ">
                        <li><a href="./home">Home </a></li>
                        <li><a href="./about">AboutUS</a></li>
                        <li><a href="./contact">ContactUs</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="widget mb-5 mb-lg-0">
                    <h4 class="text-capitalize footer-header mb-3">Social Links</h4>
                    <div class="divider mb-4"></div>
                    <ul class="list-inline footer-socials mt-4">
                        <li class="list-inline-item"><a href="#" class="fs-4 "><i class="fa-brands fa-facebook"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="fs-4 "><i
                                    class="fa-brands fa-instagram"></i></a>
                        </li>
                        <li class="list-inline-item"><a href="#" class="fs-4 "><i class="fa-brands fa-twitter"></i></a>
                        </li>
                    </ul>
                    <div class="copyright">
                        &copy; Copyright Reserved to <span class="text-color">Life Care</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="line"></div>
</footer>