<div class="container-fluid">

    <div class="header ">
        <div class="container d-flex justify-content-between pt-2 ">
            <div class="img pe-5">
                <a href="./home"><img src="../../images/favicon.png"></a>
            </div>
            <nav class="navbar">
                <ul class="navbar list-unstyled">
                    <li class="nav-item list-style-none px-2">
                        <a class="nav-link fs-5" href="./home">Home</a>
                    </li>
                    <li class="nav-item list-style-none px-2">
                        <a class="nav-link fs-5" href="./about">About</a>
                    </li>
                    <li class="nav-item list-style-none px-2">
                        <a class="nav-link fs-5" href="./service">Service</a>
                    </li>
                    <!-- <li class="nav-item list-style-none px-2">
                    <a class="nav-link fs-5" href="./doctors">Doctors</a>
                </li> -->
                    <li class="nav-item list-style-none px-2">
                        <a class="nav-link fs-5" href="./contact">Contact</a>
                    </li>
                    <li class="nav-item list-style-none px-2">
                        <a class="nav-link fs-5" href="./login">Login</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>