<div class="d-flex form-group  align-items-center my-3 ">
    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
    <input type="text" class="form-control" id="name" name="name" placeholder="Enter Your Name" pattern="[a-zA-z\s]+"
        required />
</div>

<div class="d-flex form-group align-items-center my-3">
    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
    <div class="form-group flex-fill">
        <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email"
            pattern="[a-z0-9]+(?:.)[a-z0-9]+@[a-z]+\.[a-z]+(?:\.[a-z]+)?" required />
    </div>
</div>

<div class="d-flex form-group align-items-center my-3">
    <i class="fa-solid fa-phone me-3 fa-fw"></i>
    <div class="form-group flex-fill">
        <input type="tel" class="form-control" id="contact" name="contact" placeholder="Enter Your Contact No."
            pattern="[6789][0-9]{9}" required />
    </div>
</div>

<div class="d-flex align-items-center my-3">

    <div class="form-group  mx-5">
        <label class="form-label fw-bold" for="specility">Spciality</label>
        <select class="form-select" id="specility" name="specility" required>
            <option value="Ortho">Ortho Physiotherapist</option>
            <option value="Neuro">Neuro Physiotherapist</option>
            <option value="Pediatric">Pediatric Physiotherapist</option>
            <option value="Spine">Spine</option>
        </select>
    </div>

    <div class="form-group">
        <label for="experience" class="form-label fw-bold">Experience :</label>
        <input type="number" class="form-control" id="experience" name="experience" min="0" max="100" required />
    </div>

</div>

<div class="d-flex form-group align-items-center my-3">
    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
    <div class="form-outline flex-fill mb-0">
        <input type="password" class="form-control" id="password" name="password" placeholder="Password" required />
    </div>
</div>

<div class="d-flex form-group align-items-center my-3">
    <i class="fas fa-key fa-lg me-3 fa-fw"></i>
    <div class="form-outline flex-fill">
        <input type="text" class="form-control" id="conform_password" name="conform_password"
            placeholder="Conform Password" required />
    </div>
</div>

<div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
    <button type="submit" class="btn btn-primary btn-lg">Register</button>
</div>